/* src/components/Navbar.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  /* background-color: #333; */
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.navbar-logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.navbar-logo img {
  height: 60px;
}
.menu-icon {
  font-size: 1.5rem;
  /* color: #fff; */
  cursor: pointer;
  display: none;
}

.menu-icon.open {
  display: none;
}

.close-icon {
  font-size: 1.5rem;
  /* color: #fff; */
  cursor: pointer;
  display: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  position: absolute;
  /* background-color: #333; */
  border: 1px solid black;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  z-index: 1;
  display: none;
  margin-top: 5px;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  padding: 10px;
  display: block;
}
.dropdown-link:hover {
  background-color: #d4cece;
}
.nav-item:hover .dropdown-menu,
.nav-link.active + .dropdown-menu {
  display: block;
}

/* Adjustments for mobile screens */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    /* background-color: #333; */
    text-align: center;
    padding: 10px;
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .dropdown-menu {
    position: static;
    background-color: transparent;
    box-shadow: none;
    display: block;
    margin-top: 10px;
  }

  .close-icon {
    display: block;
  }
}
